/* Firstly, Reset some default styles and apply a common font family */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style the entire page background */
body {
    background-color: #f0f0f0;
}

/* Style the header and navigation */
header {
    background-color: #6e5d5d; 
    color: #928080;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.highlight {
    color: Turquoise;
    font-weight: 900;
    font-size: 24px; 
}

/* Style the "Home" section */
#home {
    background: url('images/image3.jpg') center/cover;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: contain;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

/* Style the CV button */
.cv-button {
    text-decoration: none;
    background-color: Turquoise; 
    color: #fff; 
    font-weight: bold;
    padding: 10px 20px; 
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}

.cv-button:hover {
    background-color: #ab8178;
}

#branding {
    padding: 4rem 1rem;
}

#branding p {
    font-size: 30px;
}

#branding h1 {
    font-size: 36px;
    margin-top: 20px;
}

/* Style the "About Me" section */
#about {
    background-color: #f4f4f4;
    padding: 20px; 
}

.about-content {
    display: flex;
    align-items: center;
}

.about-image {
    flex: 1; 
    padding: 0 20px;
}

.about-image img {
    max-width: 80%;
}

.about-text {
    flex: 1; 
}

/* Style the "Skills" section */
#skills {
    background-color: #f7f7f7;
    padding: 40px;
}

/* Style the "Projects" section */
#projects {
    background-color: #fff;
    padding: 40px;
}

/* Style the "Contact" section */
#contact {
    background-color: #f7f7f7;
    padding: 40px;
}

/* Style the footer */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Add hover effect to navigation links */
nav ul li a:hover {
    text-decoration: underline;
    color: dodgerblue;
}
